<div class = 'card'>
    <% unless @incoming_friend_requests.nil? %>
        <% @incoming_friend_requests.each do |request| %>
        <div class = 'card-content'>
            <% unless request.requester.name.blank? %>
                Friend Request from: <%= link_to request.requester.name, request.requester %>
            <% else  %>
                Friend Request from: <%= link_to request.requester.email, request.requester %>
            <% end %>
            <%#= button_to 'Accept', 'friend_request_accept_path', method: :post %>
            <%= form_with(model: @friend_request, url: friend_requests_accept_path, local: true) do |f| %>
                <%= f.label 'Accept' %>
                <%= f.hidden_field :id, :value => request.id %>  
                <%= f.submit 'Accept' %>
            <% end %>
            <%= form_with(model: @friend_request, url: friend_requests_decline_path, local: true) do |f| %>
                <%= f.label 'Reject' %>
                <%= f.hidden_field :id, :value => request.id %>  
                <%= f.submit 'Reject' %>
            <% end %>
            <%#= button_to 'Reject', 'friend_request_path', method: :delete, id: request.id %>

        </div>
        <% end %>
    <% end %>
</div>
<div class = 'card'>

    <% unless @outgoing_friend_requests.nil? %>
        <% @outgoing_friend_requests.each do |request| %>
            <div class = 'card-content'>
                Pending Friend Request to: <%= link_to request.requestee.name, request.requestee %>
            </div>
        <% end %>
    <% end %>
</div>
