<%#= javascript_include_tag('z.jquery.fileupload.js') %>
<script src="node_modules/blueimp-file-upload/js/jquery.fileupload.js"></script>


<div class = 'column'>
    <div class = 'card is-centered' >
        <p class = 'title is-5'>Edit User</p>
    </div>  
    <div class = 'card-content'>


        <% if @s3_direct_post.nil? %>
            <p>no direct post what up </p>
        <% else %>
            <%= @s3_direct_post %>
            <p> s3 post set </p>
        <% end %>
        
        <%= form_with(model: @user, local: true) do |form| %>

        <% if @user.errors.any? %>
            <div id="error_explanation">
            <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

            <ul>
            <% @user.errors.full_messages.each do |message| %>
                <li><%= message %></li>
            <% end %>
            </ul>
            </div>
        <% end %>

        <div class="field">
            <%= form.label :name %>
            <%= form.text_field :name %>
        </div>

        <div class="field">
            <%= form.label :profile_photo %>
            <%= form.file_field :profile_photo %>
        </div>
        <div class="actions">
            <%= form.submit %>
        </div>
        <% end %>
        <br /><p>Please note changing email is not allowed at this time.</p>
    </div>
</div>