<div class = 'column is-half'>

        <% @users.each do |user| %>
        <div class = 'card'>

            <div class = 'card-content'>
                Name:<%= link_to user.name, user %> <br />
                Email:<%= link_to user.email, user %> 


                <% if current_user.friends.include?(user)  %>
                    You're already friends!
                    <%#= link_to, "Show", user_path(user) %>

                <% elsif current_user == user%>
                    This is you
                <% elsif @outgoing_requests_ids.include?(user.id) %>
                    Friend Request pending

                <% else %>

                    <%= form_with(model: @friend_request, url: friend_requests_path) do |f| %>
                        <%= f.label 'Friend Request' %>
                        <%#= f.hidden_field :friend_request, :requester_id, :value => current_user.id  %>
                        <%#= f.hidden_field :requestee_id, :value => user.id  %>
                        <%= f.hidden_field :requester_id, :value => current_user.id %>
                        <%= f.hidden_field :requestee_id, :value => user.id %>  
                        <%= f.submit 'Friend Request' %>
                    <% end %>
                    <%#= link_to 'Request Friend!', friend_requests_url %>
                <% end %>
            </div>
        </div>
        
            <br />
        <% end %>
</div>