<%#= @user.name %>
<div class = 'column is-half'>
    <div class = 'card is-centered' >
    <div class = 'card-image'>
        <figure class="image">
        </figure>
    </div>
    <div class = 'card-image'>
        <% if @user.profile_photo.attached? %>
            <figure class="image is-128x128 mb-6">
                <%#= image_tag(url_for(@user.profile_photo)) %>
                <%#= image_tag (@user.profile_photo) %>
                <%= image_tag (@user.profile_photo.service.send(:object_for, @user.profile_photo.key).public_url) %>
            </figure>
        <% elsif @user == current_user %>
            You should add a profile photo!
            <%= link_to 'Edit', edit_user_path(@user) %>
        <% else %>
            This user doesnt have a photo 
        <% end %>
    </div>
        <div class = 'card-content' >
            <div class = 'media'>
                <div class = 'media-content'>
                    <p class = 'title is-5'>Welcome to <%= @user.name %>'s Profile</p>
                    <p class = 'subtitle is-6'><%= @user.email %></p>

                    <% if current_user.friends.include? (@user) %>
                        You're already friends!
                    <% elsif @user == current_user %>
                        This is you!
                        <%= link_to 'Edit', edit_user_path(@user) %>
                    <% elsif @outgoing_requests_ids.include?(@user.id) %>
                        Friend request pending
                    <% else %>
                        <%= form_with(model: @friend_request, url: friend_requests_path, local: true) do |f| %>
                            <%= f.label 'Friend Request' %>
                            <%= f.hidden_field :requester_id, :value => current_user.id %>
                            <%= f.hidden_field :requestee_id, :value => @user.id %>  
                            <%= f.submit 'Friend Request' %>
                        <% end %>
                        
                        <%#= link_to "Request Friend", :controller => :friend_requests_controller, :action => :create, :method => :post %>
                    <% end %>
                </div>
            </div>
        </div>
    </div>

    <div class = 'card is-centered' >
        <p class = 'title is-6 m-4'><%= @user.name %>'s Posts:</p>
        <div class = 'card-content' >
            <%= render  @posts %>
        </div>
    </div>
</div>

<%#= render 'friends_list' %>