    <div class = 'card-footer'>
        <button class = 'button'>Like</button>
        <%= form_with(model: @like, url: likes_path,  local: true, class: 'button') do |f| %>
            <%= f.hidden_field :post, :value => post.id %>  
            <%= f.submit %>
        <% end %> 

        <%= form_with(model: @comment, url: comments_path,  local: true, class: 'input') do |f| %>

            <%= f.hidden_field :post, :value => post.id %>
            <%= f.text_field :content, html: {class: 'input'} %>
            <%= f.submit %>
        <% end %>

        
    </div>