<div class = 'card is-centered'>
    <div class = 'card-header is-centered'>
        <p class = ''>Post: <%= post.id %></p><br />
        <p class = 'title is-4'>Author: <%= post.user.email %></p>
    </div>
    <div class = 'card-content'>
        <p class = 'content' >Content: <%= post.content %></p>
    </div>
    <div class = ''>
        <%= pluralize(post.likes.length, "like") %>
        <br />

        <%= pluralize(post.comments.length, "comment") %>
        : <% post.comments.each do |comment| %>
        <p>"<%= comment.content%>"posted by: <%=comment.user.email %></p>
        <% end %>
    </div>
    <div class = 'card-footer'>
        <button class = 'button'>Like</button>
        Like and comment actions go here plz
    </div>
        
</div>
<br />