<div class = 'card is-centered'>
    <div class = 'card-header is-centered'>
        <p class = ''>Post: <%= post.id %></p><br />
        <p class = 'title is-4'>Author: <%= post.user.email %></p>
    </div>
    <div class = 'card-content'>
        <p class = 'content' >Content: <%= post.content %></p>
    </div>
    <div class = ''>
        <%= pluralize(post.likes.length, "like") %>
        <br />

        <%= pluralize(post.comments.length, "comment") %>
        : <% post.comments.each do |comment| %>
        <p>"<%= comment.content%>"posted by: <%=comment.user.email %></p>
        <% end %>
    </div>
    <div class = 'card-footer'>
        <button class = 'button'>Like</button>
        <%#= form_for  @comment, url: {controller: 'comments_controller', action: 'create'} do |f|%>
        <%#= form_for  @comment, :url => create_comment_path(@comment) do |f|%>
        <%#= form_for @comment, :url => create_comment_path(@comment), :html => {:method => :post} do |f| %>
        <%= form_with(model: @comment, local: true) do |f| %>

            <%= f.hidden_field :post, :value => post.id %>
            <%= f.text_field :content, html: {class: 'input'} %>
            <%= f.submit %>
        <% end %>

        
    </div>
        
</div>
<br />