<div class = 'card is-centered'>
    <div class = 'card-header is-centered'>
        <p class = ''>Post: <%= @post.id %></p><br />
        <p class = 'title is-4'>Author: <%= @post.user.email %></p>
    </div>
    <div class = 'card-content'>
        <p class = 'content' >Content: <%= @post.content %></p>
    </div>
    <div class = ''>
        <%= pluralize(@post.likes.length, "like") %>
        <br />

        <%= pluralize(@post.comments.length, "comment") %>
        : <% @post.comments.each do |comment| %>
        <p>"<%= comment.content%>"posted by: <%=comment.user.email %></p>
        <% end %>
    </div>
    <div class = 'card-footer'>
        <%= form_with(model: @like, local: true, class: 'button') do |f| %>
            <%= f.hidden_field :post, :value => @post %>  
            <%= f.submit 'Like'%>
        <% end %> 

        <%= form_with(model: @comment, local: true, class: 'input') do |f| %>

            <%= f.hidden_field :post, :value => @post  %>
            <%= f.text_field :content, html: {class: 'input'} %>
            <%= f.submit 'Post Comment'%>
        <% end %>

        
    </div>
        
</div>

