<p>Post: <%= @post.id %></p>
<p>Author: <%= @post.user.email %></p>
<p>Content: <%= @post.content %></p>


Comments: <% @post.comments.each do |comment| %>
<p><%= comment.content %>posted by: <%=comment.user.email %></p>
<% end %>
<br />
<%= @post.likes.length %>Likes